@use '../../../pages/main' as *  
@import "../../../pages/breakpoints.scss"


#singleAddContainer
    height: 100vh
    width: 100vw
    overflow-x: hidden
    background-color: var(--background)

#adContent
    padding: 0 1% 0 1%
    display: flex
    min-height: 100vh
    gap: 30px
    z-index: 99
    @include media("<laptop")
        display: block
        margin-bottom: 160px
#adContentColumnLeft
    display: flex
    flex-direction: column
    gap: 30px
    width: 50%
    @include media("<laptop")
        width: 100%
        padding: 0 5% 0 5%

#adContentColumnRight
    width: 50%
    margin-bottom: 30px
    @include media("<laptop")
        width: 100%
        padding: 0 5% 0 5%

#proposedAds
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 15px
    background-color: var(--background)
    background: "center"
    position: relative
.text
    font-family: $font-stack    
    color: var(--fontColor)
    font-weight: 400

.bigText
    font-family: $font-stack
    font-size: 2.5em
    font-weight: 200
    color: var(--fontColor)

.singlAddComponentContainer
    padding: 10px
    background-color: var(--primary)
    @include media("<laptop")
        width: 100%
