@use '../../pages/main' as *

    
#inputContent 
    font-family: $font-stack
    color: var(--fontColor)
    display: flex
    flex-direction: column
    gap: 3rem
    margin-top: 15vh
    margin-left: 4vw
    margin-right: 4vw

.navlink 
    font-family: $font-stack
    color: var(--brand)
    text-decoration: none
    