$font-stack: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif

$brand: #FF5C00,
$background: #F6F8FC,
$white: #FFFF,
$dark: #464646,
$black: #0E0E0E,
$lightGray: #C7C7C7

body
  background-color: $background 

#container 
    background-color: $background
    width: 100vw
    height: 100vh