@use '../../pages/main' as *  


#advertContainer
    display: flex
    flex-direction: column
    align-items: center
    overflow-x: hidden
    background-color: var(--background)

#topBar
    width: 100vw,
    display: flex,
    justify-content: space-between,
    
#advertContent 
    display: flex
    flex-direction: column
    width: 68%
    justify-content: center
    align-items: center
    max-width: 1000px

#searchform
    background-color: var(--primary)
    padding: 3vw
    padding-top: 2vw
    height: fit-content
    max-width: 1000px
    label
        color: var(--fontColor)
    .icon
        stroke: var(--dark)

#bottomInputs
    display: flex
    gap: 3rem
    margin-top: 15px

#advertisements
    margin-top: 2rem
    margin-bottom: 2rem
    width: 100%