@use '../../pages/main'
    
#container
    display: flex
    flex-direction: column

#advertContent 
    display: flex
    flex-direction: column
    width: 100%
    justify-content: center
    align-items: center

#searchform
    background-color: main.$white
    padding: 3vw
    padding-top: 2vw
    height: fit-content

#bottomInputs
    display: flex
    gap: 3rem
    margin-top: 15px
