@use '../../pages/main'

#navContainer 
    display: flex
    align-items: center
    max-height: 70px
    height: 100%
    background-color: main.$white
    padding-left: 50px
    padding-right: 50px
    gap: 2rem
    border-bottom-left-radius: 20px

#profile
    display: flex
    gap: 0.5rem
    align-items: center
    transition-duration: 100ms
#profile:hover
    cursor: pointer
    opacity: 0.35

#text 
    font-weight: 600

    
