@use '../../pages/main' as *
@import '../../pages/breakpoints.scss'

#footerContainer
    background-color: var(--primary)
    padding: 2rem
    width: 48%
    text-align: center
    font-family: $font-stack
    z-index: 0
    position: fixed
    bottom: 0
    a 
        text-decoration: none
        color: var(--fontColor)
        transition-duration: 100ms
    a:hover
        color: var(--brand)
    @include media("<laptop")
        width: 88% 


