.mainImg
    width: 45vw
    z-index: 12
    position: absolute
    margin-left: 4vw
    margin-top: 15vw

.backgroundImg
    width: 35vw
    z-index: 9
    position: absolute
    
#img
    margin-top: -15vw
    display: flex
    align-items: center